.clients {
  @extend %section;
}

.clients__container {
  @extend %container;
}

.clients__title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  gap: 30px;
}

.clients__link {
  display: flex;
  flex-wrap: wrap;

  width: 210px;
  height: 92px;

  border: 1px solid var(--gray-bgd-icon-cl);
  border-radius: 4px;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: 226px;
    height: 92px;
  }

  @media screen and (min-width: 1200px) {
    transition: border 250ms var(--animation-hover);
    width: 170px;
    height: 92px;
  }

  &:hover,
  &:focus {
    border: 1px solid var(--accent-txt-cl);
  }
}

.clients__icon {
  fill: var(--gray-bgd-icon-cl);
  transition: fill var(--animation-hover);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-txt-cl);
  }
}
