.footer-socials {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    margin-left: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.footer-socials__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-txt-cl);
}

.footer-socials__list {
  display: flex;
  gap: 10px;

  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}

.footer-socials__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color var(--animation-hover);

  &:hover,
  &:focus {
    background-color: var(--accent-bgd-cl);
  }
}

.footer-socials__icon {
  fill: var(--light-txt-cl);
}
