.header-contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }

  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contacts__list {
  display: flex;
  align-items: center;

  color: var(--gray-txt-cl);

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    gap: 50px;
  }
}

.header-contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  cursor: pointer;
  padding-bottom: 32px;
  padding-top: 32px;

  transition: color var(--animation-hover);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 5px;
  }
}

.header-contacts__icon {
  margin-right: 10px;
  fill: var(--gray-txt-cl);
  transition: fill var(--animation-hover);

  .header-contacts__link:hover &,
  .header-contacts__link:focus & {
    fill: var(--accent-bgd-cl);
  }
}
