.hero {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: var(--black-bgd-cl);
  padding: 118px 0 118px;

  background-image: url(../images/hero/img-overlay_sm-@1x.png), url(../images/hero/img_sm-@1x.jpeg);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/hero/img-overlay_sm-@2x.png),
      url(../images/hero/img_sm-@2x.jpeg);
  }

  // Tablet
  @media screen and (min-width: 481px) {
    background-image: url(../images/hero/img-overlay_md-@1x.png),
      url(../images/hero/img_md-@1x.jpeg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/hero/img-overlay_md-@2x.png),
        url(../images/hero/img_md-@2x.jpeg);
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  // Desktop
  @media screen and (min-width: 769px) {
    background-image: url(../images/hero/img-overlay_lg-@1x.png),
      url(../images/hero/img_lg-@1x.jpeg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/hero/img-overlay_lg-@2x.png),
        url(../images/hero/img_lg-@2x.jpeg);
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    padding: 200px 0 200px;
  }
}

.hero__container {
  @extend %container;
  align-items: center;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-txt-cl);
  width: 360px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @media screen and (max-width: 479px) {
    font-size: 20px;
    max-width: 300px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    width: 696px;
  }
}

.hero__btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px 24px;

  background-color: var(--accent-bgd-cl);
  color: var(--light-txt-cl);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: inherit;

  &:hover,
  &:focus {
    cursor: pointer;
  }

  @media screen and (min-width: 1200px) {
    padding: 10px 32px;
  }
}
