.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @media screen and (min-width: 767px) {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  background-color: var(--light-txt-cl);

  transform: translateX(100%);
  transition: transform 400ms;

  &.is-open {
    transform: translateX(0);
  }
}

.menu-toggle {
  position: absolute;
  right: 15px;
  top: 10px;
  height: 40px;
  width: 40px;
  padding: 0;

  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    fill: var(--accent-txt-cl);
  }
}

.mobile-menu {
  margin-bottom: auto;
  margin-top: 48px;
  padding-left: 40px;
}

.mobile-nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47px / 40px);
  letter-spacing: 0.02em;

  color: inherit;

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }
}

.mobile-contacts {
  margin-bottom: 64px;
  padding-left: 40px;
}

.mobile-contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40px / 34px);
  letter-spacing: 0.02em;

  color: var(--accent-txt-cl);

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.mobile-contacts-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28px / 24px);
  letter-spacing: 0.02em;

  color: var(--gray-txt-cl);

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.mobile-socials {
  margin-bottom: 48px;

  display: flex;
  justify-content: center;
  gap: 20px;
}

.mob-socials-link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22px / 18px);
  letter-spacing: 0.02em;

  color: var(--accent-txt-cl);

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.mob-socials-item:not(:last-child)::after {
  @media screen and (min-width: 480px) {
    content: '';
    width: 1px;
    height: 22px;
    margin-left: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
  }
}
