.nav__list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  cursor: pointer;
  padding-bottom: 32px;
  padding-top: 32px;

  transition: color var(--animation-hover);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }
}

.active {
  display: block;
  position: relative;
  color: var(--accent-txt-cl);

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background: var(--accent-bgd-cl);
    border-radius: 2px;
  }
}
