.peculiarity {
  @extend %section;
}

.peculiarity__container {
  @extend %container;
}

.peculiarity__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.peculiarity__item {
  max-width: 450px;

  @media screen and (min-width: 768px) {
    max-width: 354px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
}
.peculiarity__group {
  height: 120px;
  max-width: 450px;
  margin-bottom: 30px;
  background-color: var(--gray-bgd-cl);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.peculiarity__subtitle {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.peculiarity__desc {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--gray-txt-cl);
}
