:root {
  /* Fonts */
  --maine-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* Text colors */
  --maine-txt-cl: #212121;
  --gray-txt-cl: #757575;
  --light-txt-cl: #ffffff;
  --accent-txt-cl: #2196f3;
  --gray-txt-cl-60: rgba(255, 255, 255, 0.6);

  /* Background colors */
  --accent-bgd-cl: #2196f3;
  --black-bgd-cl: #2f303a;
  --gray-bgd-cl: #f5f4fa;
  --gray-bgd-btn-cl: #f5f4fa;
  --gray-bgd-icon-cl: #afb1b8;
  --gray-bgd-icon-footer-cl: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    rgba(255, 255, 255, 0.1);

  /* Others */

  --grey-border-cl: #ececec;
  --light-border-cl: #eeeeee;
  --animation-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --animation-modal: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
